# ide specific
*.class
*.classpath
*.project
*.pmd
*.iml
*.log
*.log.*
*.ipr
*.iws
out

# Gradle
.gradle
**/gradlew
**/build/
/.idea/
/build-cache/
**/gradle-wrapper.jar

# Cache of project
.gradletasknamecache

